* {
  text-align: center;
  font-family: "Outfit", sans-serif;
}
body {
  min-height: 80vh;
  background-color: hsl(212, 45%, 89%);
}
main {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 40px auto;
  border-radius: 15px;
  width: 315px;
}
.header {
  font-size: 22px;
}
img {
  margin-top: 20px;
  width: 280px;
  height: 280px;
  border-radius: 15px;
}
